@font-face {
  font-family: 'AvenirNext';
  src: url('assets/fonts/AvenirNext-Regular.eot');
  src: url('assets/fonts/AvenirNext-Regular.eot?#iefix') format('embedded-opentype'), url('assets/fonts/AvenirNext-Regular.woff2') format('woff2'), url('assets/fonts/AvenirNext-Regular.woff') format('woff'), url('assets/fonts/AvenirNext-Regular.otf') format('opentype'), url('assets/fonts/AvenirNext-Regular.ttf') format('truetype'), url('assets/fonts/AvenirNext-Regular.svg#@Lato') format('svg')
}

@font-face {
  font-family: 'AvenirNext-Medium';
  src: url('assets/fonts/AvenirNext-Medium.eot');
  src: url('assets/fonts/AvenirNext-Medium.eot?#iefix') format('embedded-opentype'), url('assets/fonts/AvenirNext-Medium.woff2') format('woff2'), url('assets/fonts/AvenirNext-Medium.woff') format('woff'), url('assets/fonts/AvenirNext-Medium.otf') format('opentype'), url('assets/fonts/AvenirNext-Medium.ttf') format('truetype'), url('assets/fonts/AvenirNext-Medium.svg#@Lato') format('svg')
}

@font-face {
  font-family: 'AvenirNext-Bold';
  src: url('assets/fonts/AvenirNext-Bold.eot');
  src: url('assets/fonts/AvenirNext-Bold.eot?#iefix') format('embedded-opentype'), url('assets/fonts/AvenirNext-Bold.woff2') format('woff2'), url('assets/fonts/AvenirNext-Bold.woff') format('woff'), url('assets/fonts/AvenirNext-Bold.otf') format('opentype'), url('assets/fonts/AvenirNext-Bold.ttf') format('truetype'), url('assets/fonts/AvenirNext-Bold.svg#@Lato') format('svg')
}

@font-face {
  font-family: 'AvenirNext-Italic';
  src: url('assets/fonts/AvenirNext-Italic.eot');
  src: url('assets/fonts/AvenirNext-Italic.eot?#iefix') format('embedded-opentype'), url('assets/fonts/AvenirNext-Italic.woff2') format('woff2'), url('assets/fonts/AvenirNext-Italic.woff') format('woff'), url('assets/fonts/AvenirNext-Italic.otf') format('opentype'), url('assets/fonts/AvenirNext-Italic.ttf') format('truetype'), url('assets/fonts/AvenirNext-Italic.svg#@Lato') format('svg')
}

@font-face {
  font-family: 'AvenirNext-DemiBold';
  src: url('assets/fonts/AvenirNext-DemiBold.eot');
  src: url('assets/fonts/AvenirNext-DemiBold.eot?#iefix') format('embedded-opentype'), url('assets/fonts/AvenirNext-DemiBold.woff2') format('woff2'), url('assets/fonts/AvenirNext-DemiBold.woff') format('woff'), url('assets/fonts/AvenirNext-DemiBold.otf') format('opentype'), url('assets/fonts/AvenirNext-DemiBold.ttf') format('truetype'), url('assets/fonts/AvenirNext-DemiBold.svg#@Lato') format('svg')
}

@font-face {
  font-family: 'AvenirNext-MediumItalic';
  src: url('assets/fonts/AvenirNext-MediumItalic.eot');
  src: url('assets/fonts/AvenirNext-MediumItalic.eot?#iefix') format('embedded-opentype'), url('assets/fonts/AvenirNext-MediumItalic.woff2') format('woff2'), url('assets/fonts/AvenirNext-MediumItalic.woff') format('woff'), url('assets/fonts/AvenirNext-MediumItalic.otf') format('opentype'), url('assets/fonts/AvenirNext-MediumItalic.ttf') format('truetype'), url('assets/fonts/AvenirNext-MediumItalic.svg#@Lato') format('svg')
}

@font-face {
  font-family: 'AvenirNext-UltraLight';
  src: url('assets/fonts/AvenirNext-UltraLight.eot');
  src: url('assets/fonts/AvenirNext-UltraLight.eot?#iefix') format('embedded-opentype'), url('assets/fonts/AvenirNext-UltraLight.woff2') format('woff2'), url('assets/fonts/AvenirNext-UltraLight.woff') format('woff'), url('assets/fonts/AvenirNext-UltraLight.otf') format('opentype'), url('assets/fonts/AvenirNext-UltraLight.ttf') format('truetype'), url('assets/fonts/AvenirNext-UltraLight.svg#@Lato') format('svg')
}



@font-face {
  font-family: 'Lato';
  src: url('assets/fonts/Lato-Regular.eot');
  src: url('assets/fonts/Lato-Regular.eot?#iefix') format('embedded-opentype'), url('assets/fonts/Lato-Regular.woff2') format('woff2'), url('assets/fonts/Lato-Regular.woff') format('woff'), url('assets/fonts/Lato-Regular.otf') format('opentype'), url('assets/fonts/Lato-Regular.ttf') format('truetype'), url('assets/fonts/Lato-Regular.svg#@Lato') format('svg')
}

@font-face {
  font-family: 'Roboto';
  src: url('assets/fonts/Roboto-Regular.eot');
  src: url('assets/fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'), url('assets/fonts/Roboto-Regular.woff2') format('woff2'), url('assets/fonts/Roboto-Regular.woff') format('woff'), url('assets/fonts/Roboto-Regular.otf') format('opentype'), url('assets/fonts/Roboto-Regular.ttf') format('truetype'), url('assets/fonts/Roboto-Regular.svg#@Roboto') format('svg')
}

@font-face {
  font-family: 'Roboto-Light';
  src: url('assets/fonts/Roboto-Light.eot');
  src: url('assets/fonts/Roboto-Light.eot?#iefix') format('embedded-opentype'), url('assets/fonts/Roboto-Light.woff2') format('woff2'), url('assets/fonts/Roboto-Light.woff') format('woff'), url('assets/fonts/Roboto-Light.otf') format('opentype'), url('assets/fonts/Roboto-Light.ttf') format('truetype'), url('assets/fonts/Roboto-Light.svg#@Light') format('svg')
}

@font-face {
  font-family: 'Roboto-Medium';
  src: url('assets/fonts/Roboto-Medium.eot');
  src: url('assets/fonts/Roboto-Medium.eot?#iefix') format('embedded-opentype'), url('assets/fonts/Roboto-Medium.woff2') format('woff2'), url('assets/fonts/Roboto-Medium.woff') format('woff'), url('assets/fonts/Roboto-Medium.otf') format('opentype'), url('assets/fonts/Roboto-Medium.ttf') format('truetype'), url('assets/fonts/Roboto-Medium.svg#@Roboto') format('svg')
}

@font-face {
  font-family: 'Roboto-Bold';
  src: url('assets/fonts/Roboto-Bold.eot');
  src: url('assets/fonts/Roboto-Bold.eot?#iefix') format('embedded-opentype'), url('assets/fonts/Roboto-Bold.woff2') format('woff2'), url('assets/fonts/Roboto-Bold.woff') format('woff'), url('assets/fonts/Roboto-Bold.otf') format('opentype'), url('assets/fonts/Roboto-Bold.ttf') format('truetype'), url('assets/fonts/Roboto-Bold.svg#@Roboto') format('svg')
}

@font-face {
  font-family: 'SnellRoundhand';
  src: url('assets/fonts/SnellRoundhand.eot');
  src: url('assets/fonts/SnellRoundhand.eot?#iefix') format('embedded-opentype'), url('assets/fonts/SnellRoundhand.woff') format('woff'), url('assets/fonts/SnellRoundhand.otf') format('opentype'), url('assets/fonts/SnellRoundhand.ttf') format('truetype'), url('assets/fonts/SnellRoundhand.svg#@Roboto') format('svg')
}

@font-face {
  font-family: 'SnellRoundhand-Bold';
  src: url('assets/fonts/SnellRoundhand-Bold.eot');
  src: url('assets/fonts/SnellRoundhand-Bold.eot?#iefix') format('embedded-opentype'), url('assets/fonts/SnellRoundhand-Bold.woff2') format('woff2'), url('assets/fonts/SnellRoundhand-Bold.woff') format('woff'), url('assets/fonts/SnellRoundhand-Bold.otf') format('opentype'), url('assets/fonts/SnellRoundhand-Bold.ttf') format('truetype'), url('assets/fonts/SnellRoundhand-Bold.svg#@Roboto') format('svg')
}

@font-face {
  font-family: 'SinhalaSangamMN-Bold';
  src: url('assets/fonts/SinhalaSangamMN-Bold.eot');
  src: url('assets/fonts/SinhalaSangamMN-Bold.eot?#iefix') format('embedded-opentype'), url('assets/fonts/SinhalaSangamMN-Bold.woff2') format('woff2'), url('assets/fonts/SinhalaSangamMN-Bold.woff') format('woff'), url('assets/fonts/SinhalaSangamMN-Bold.otf') format('opentype'), url('assets/fonts/SinhalaSangamMN-Bold.ttf') format('truetype'), url('assets/fonts/SinhalaSangamMN-Bold.svg#@Roboto') format('svg')
}

@font-face {
  font-family: 'AzoSans';
  src: url('assets/fonts/AzoSans-Regular.eot');
  src: url('assets/fonts/AzoSans-Regular.eot?#iefix') format('embedded-opentype'), url('assets/fonts/AzoSans-Regular.woff2') format('woff2'), url('assets/fonts/AzoSans-Regular.woff') format('woff'), url('assets/fonts/AzoSans-Regular.otf') format('opentype'), url('assets/fonts/AzoSans-Regular.ttf') format('truetype'), url('assets/fonts/AzoSans-Regular.svg#@Lato') format('svg')
}

@font-face {
  font-family: 'AzoSans-Black';
  src: url('assets/fonts/AzoSans-Black.eot');
  src: url('assets/fonts/AzoSans-Black.eot?#iefix') format('embedded-opentype'), url('assets/fonts/AzoSans-Black.woff2') format('woff2'), url('assets/fonts/AzoSans-Black.woff') format('woff'), url('assets/fonts/AzoSans-Black.otf') format('opentype'), url('assets/fonts/AzoSans-Black.ttf') format('truetype'), url('assets/fonts/AzoSans-Black.svg#@Lato') format('svg')
}

@font-face {
  font-family: 'AzoSans-BlackItalic';
  src: url('assets/fonts/AzoSans-BlackItalic.eot');
  src: url('assets/fonts/AzoSans-BlackItalic.eot?#iefix') format('embedded-opentype'), url('assets/fonts/AzoSans-BlackItalic.woff2') format('woff2'), url('assets/fonts/AzoSans-BlackItalic.woff') format('woff'), url('assets/fonts/AzoSans-BlackItalic.otf') format('opentype'), url('assets/fonts/AzoSans-BlackItalic.ttf') format('truetype'), url('assets/fonts/AzoSans-BlackItalic.svg#@Lato') format('svg')
}

@font-face {
  font-family: 'AzoSans-Bold';
  src: url('assets/fonts/AzoSans-Bold.eot');
  src: url('assets/fonts/AzoSans-Bold.eot?#iefix') format('embedded-opentype'), url('assets/fonts/AzoSans-Bold.woff2') format('woff2'), url('assets/fonts/AzoSans-Bold.woff') format('woff'), url('assets/fonts/AzoSans-Bold.otf') format('opentype'), url('assets/fonts/AzoSans-Bold.ttf') format('truetype'), url('assets/fonts/AzoSans-Bold.svg#@Lato') format('svg')
}

@font-face {
  font-family: 'AzoSans-BoldItalic';
  src: url('assets/fonts/AzoSans-BoldItalic.eot');
  src: url('assets/fonts/AzoSans-BoldItalic.eot?#iefix') format('embedded-opentype'), url('assets/fonts/AzoSans-BoldItalic.woff2') format('woff2'), url('assets/fonts/AzoSans-BoldItalic.woff') format('woff'), url('assets/fonts/AzoSans-BoldItalic.otf') format('opentype'), url('assets/fonts/AzoSans-BoldItalic.ttf') format('truetype'), url('assets/fonts/AzoSans-BoldItalic.svg#@Lato') format('svg')
}

@font-face {
  font-family: 'AzoSans-Italic';
  src: url('assets/fonts/AzoSans-Italic.eot');
  src: url('assets/fonts/AzoSans-Italic.eot?#iefix') format('embedded-opentype'), url('assets/fonts/AzoSans-Italic.woff2') format('woff2'), url('assets/fonts/AzoSans-Italic.woff') format('woff'), url('assets/fonts/AzoSans-Italic.otf') format('opentype'), url('assets/fonts/AzoSans-Italic.ttf') format('truetype'), url('assets/fonts/AzoSans-Italic.svg#@Lato') format('svg')
}

@font-face {
  font-family: 'AzoSans-Light';
  src: url('assets/fonts/AzoSans-Light.eot');
  src: url('assets/fonts/AzoSans-Light.eot?#iefix') format('embedded-opentype'), url('assets/fonts/AzoSans-Light.woff2') format('woff2'), url('assets/fonts/AzoSans-Light.woff') format('woff'), url('assets/fonts/AzoSans-Light.otf') format('opentype'), url('assets/fonts/AzoSans-Light.ttf') format('truetype'), url('assets/fonts/AzoSans-Light.svg#@Lato') format('svg')
}

@font-face {
  font-family: 'AzoSans-LightItalic';
  src: url('assets/fonts/AzoSans-LightItalic.eot');
  src: url('assets/fonts/AzoSans-LightItalic.eot?#iefix') format('embedded-opentype'), url('assets/fonts/AzoSans-LightItalic.woff2') format('woff2'), url('assets/fonts/AzoSans-LightItalic.woff') format('woff'), url('assets/fonts/AzoSans-LightItalic.otf') format('opentype'), url('assets/fonts/AzoSans-LightItalic.ttf') format('truetype'), url('assets/fonts/AzoSans-LightItalic.svg#@Lato') format('svg')
}

@font-face {
  font-family: 'AzoSans-Medium';
  src: url('assets/fonts/AzoSans-Medium.eot');
  src: url('assets/fonts/AzoSans-Medium.eot?#iefix') format('embedded-opentype'), url('assets/fonts/AzoSans-Medium.woff2') format('woff2'), url('assets/fonts/AzoSans-Medium.woff') format('woff'), url('assets/fonts/AzoSans-Medium.otf') format('opentype'), url('assets/fonts/AzoSans-Medium.ttf') format('truetype'), url('assets/fonts/AzoSans-Medium.svg#@Lato') format('svg')
}

@font-face {
  font-family: 'AzoSans-MediumItalic';
  src: url('assets/fonts/AzoSans-MediumItalic.eot');
  src: url('assets/fonts/AzoSans-MediumItalic.eot?#iefix') format('embedded-opentype'), url('assets/fonts/AzoSans-MediumItalic.woff2') format('woff2'), url('assets/fonts/AzoSans-MediumItalic.woff') format('woff'), url('assets/fonts/AzoSans-MediumItalic.otf') format('opentype'), url('assets/fonts/AzoSans-MediumItalic.ttf') format('truetype'), url('assets/fonts/AzoSans-MediumItalic.svg#@Lato') format('svg')
}

@font-face {
  font-family: 'AzoSans-Thin';
  src: url('assets/fonts/AzoSans-Thin.eot');
  src: url('assets/fonts/AzoSans-Thin.eot?#iefix') format('embedded-opentype'), url('assets/fonts/AzoSans-Thin.woff2') format('woff2'), url('assets/fonts/AzoSans-Thin.woff') format('woff'), url('assets/fonts/AzoSans-Thin.otf') format('opentype'), url('assets/fonts/AzoSans-Thin.ttf') format('truetype'), url('assets/fonts/AzoSans-Thin.svg#@Lato') format('svg')
}

@font-face {
  font-family: 'AzoSans-ThinItalic';
  src: url('assets/fonts/AzoSans-ThinItalic.eot');
  src: url('assets/fonts/AzoSans-ThinItalic.eot?#iefix') format('embedded-opentype'), url('assets/fonts/AzoSans-ThinItalic.woff2') format('woff2'), url('assets/fonts/AzoSans-ThinItalic.woff') format('woff'), url('assets/fonts/AzoSans-ThinItalic.otf') format('opentype'), url('assets/fonts/AzoSans-ThinItalic.ttf') format('truetype'), url('assets/fonts/AzoSans-ThinItalic.svg#@Lato') format('svg')
}

@font-face {
  font-family: 'SanFranciscoDisplay-Heavy';
  src: url('assets/fonts/SanFranciscoDisplay-Heavy.eot');
  src: url('assets/fonts/SanFranciscoDisplay-Heavy.eot?#iefix') format('embedded-opentype'), url('assets/fonts/SanFranciscoDisplay-Heavy.woff2') format('woff2'), url('assets/fonts/SanFranciscoDisplay-Heavy.woff') format('woff'), url('assets/fonts/SanFranciscoDisplay-Heavy.otf') format('opentype'), url('assets/fonts/SanFranciscoDisplay-Heavy.ttf') format('truetype'), url('assets/fonts/SanFranciscoDisplay-Heavy.svg#@Lato') format('svg')
}
@font-face {
  font-family: 'ABCGintoNormalVariable';
  src: url('assets/fonts/ABCGintoNormalVariable.ttf');
  src: url('assets/fonts/ABCGintoNormalVariable.ttf') format('truetype')
}

html {
  height: 100%;
  overflow: hidden;
}

body {
  height: 100%;
  overflow: auto;
}
