
.hr-text {
  line-height: 1em;
  position: relative;
  outline: 0;
  border: 0;
  color: black;
  text-align: center;
  height: 1.5em;
  opacity: .5;
}

.hr-text::before {
  content: '';
    background: #d5d5d5;
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 1px;
}

.hr-text::after {
  content: attr(data-content);
    position: relative;
    display: inline-block;
    color: black;

    padding: 0 1em;
    line-height: 1.5em;
    font-weight: bold;
    color: #bfbfbf;
    background-color: #fcfcfa;
}

.slick-arrow,
.slick-arrow:hover,
.slick-arrow:focus {
  background-color: black
}
